streamlit==1.39.0
validators==0.28.1

langchain==0.3.7
langchain-core==0.3.18
langchain-community==0.3.7
langchain-groq==0.2.1

unstructured==0.16.4
youtube-transcript-api==0.6.3
yt-dlp==2025.3.31
requests==2.32.3
certifi==2025.1.31