langchain
python-dotenv
openai
ipykernel
langchain-community
PyPDF
bs4 #beautiful soup
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
langchain_chroma
langchain-openai
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
langchain-classic
arxiv
wikipedia
langchain
validators==0.28.1
youtube_transcript_api
streamlit
